@charset "UTF-8";
/* ===============================================
Base setting
=============================================== */
html {
  font-family: "Roboto", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  color: #4d4e57;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px; /* 1rem = 16px */
}

body { /* basic size 16px */
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  opacity: 0.7;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  -o-object-fit: cover;
  vertical-align: bottom;
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map {
  position: relative;
  width: 100%;
  padding-top: 35.4954954955%;
}
@media screen and (max-width: 768px) {
  .map {
    padding-top: 71.6417910448%;
  }
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===============================================
Fontsize-setting
=============================================== */
/* title
----------------------- */
.title {
  font-weight: bold;
  line-height: 1.2;
  color: #ffa1ae;
  font-size: clamp(1.5rem, 1.3964088398rem + 0.4419889503vw, 1.75rem);
}
@media screen and (max-width: 768px) {
  .title {
    color: #193660;
  }
}
.title > span {
  display: block;
  font-weight: 500;
  font-size: clamp(1rem, 0.8964088398rem + 0.4419889503vw, 1.25rem);
}
.title--subpage {
  color: #193660;
}

/* KV fontsize-setting
----------------------- */
.kv__copy__main {
  font-weight: 700;
  line-height: 1.1;
  font-size: clamp(3.75rem, 3.4392265193rem + 1.3259668508vw, 4.5rem);
}
@media screen and (max-width: 768px) {
  .kv__copy__main {
    text-align: center;
  }
}
.kv__copy__sub {
  font-size: clamp(1rem, 0.7928176796rem + 0.8839779006vw, 1.5rem);
  font-weight: 700;
}
.kv__copy__text {
  padding: 0 10px;
  text-align: center;
  text-shadow: 0px 0px 6px #4d4e57;
}

/* heading font-setting
----------------------- */
.heading-primary {
  font-weight: 700;
  font-size: clamp(2.5rem, 1.7748618785rem + 3.0939226519vw, 4.25rem);
  line-height: 1.1;
}
.heading-primary-subpage {
  font-weight: 700;
  font-size: clamp(2.5rem, 2.2928176796rem + 0.8839779006vw, 3rem);
  line-height: 1.1;
}
.heading-secondary {
  font-weight: 700;
  line-height: 1.1;
  font-size: clamp(2.25rem, 2.0946132597rem + 0.6629834254vw, 2.625rem);
}
.heading-sub {
  font-weight: 700;
  line-height: 1.1;
  font-size: clamp(0.875rem, 0.8232044199rem + 0.2209944751vw, 1rem);
}
.heading-third {
  font-weight: 700;
  line-height: 1.1;
  font-size: clamp(1.75rem, 1.5428176796rem + 0.8839779006vw, 2.25rem);
}

.heading__num {
  position: relative;
  display: inline-block;
}
.heading__num::after {
  content: "";
  position: absolute;
  right: -25%;
  top: -20%;
  z-index: -1;
  font-family: "Sacramento", cursive;
  font-size: clamp(3.125rem, 2.0890883978rem + 4.4198895028vw, 5.625rem);
  font-weight: 400;
  color: #e6e4e4;
}
.heading__num--small::after {
  right: -25%;
  top: -50%;
}
.heading__num--01::after {
  content: "01";
}
.heading__num--02::after {
  content: "02";
}
.heading__num--03::after {
  content: "03";
}
.heading__num--04::after {
  content: "04";
}
.heading__num--05::after {
  content: "05";
}
.heading__num--06::after {
  content: "06";
}
.heading__num--07::after {
  content: "07";
}

/* figcaption
----------------------- */
figcaption {
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
}

/* material symbols
----------------------- */
span.size-20 {
  font-size: 20px;
  font-variation-settings: "OPSZ" 20;
}

span.size-24 {
  font-size: 24px;
  font-variation-settings: "OPSZ" 24;
}

span.size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
}

span.size-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
}

.material-icons-sharp {
  vertical-align: text-bottom;
}

.material-symbols-outlined {
  vertical-align: text-bottom;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* ===============================================
Utilities
=============================================== */
/* SP-only
----------------------- */
.u-sponly {
  display: none;
}
@media screen and (max-width: 375px) {
  .u-sponly {
    display: block;
  }
}

/* tablet-only
----------------------- */
.u-tabonly {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-tabonly {
    display: block;
  }
}

/* PC-only
----------------------- */
.u-pconly {
  display: block;
}
@media screen and (max-width: 375px) {
  .u-pconly {
    display: none;
  }
}

/* color
----------------------- */
.u-white {
  color: white;
}

.u-grey {
  color: #afafaf;
}

.u-color-primary {
  color: #ffa1ae;
}

.u-color-secondary {
  color: #193660;
}

.u-color-third {
  color: #8EAAD1;
}

/* bg-color
----------------------- */
.u-bg-themecolor {
  background-color: #193660;
}

.u-bg-primary {
  background-color: #FFF8F9;
}

.u-bg-secondary {
  background-color: #f1f8fc;
}

.u-bg-gray {
  background-color: #f5f5f5;
}

/* ===============================================
display
=============================================== */
/* flex
----------------------- */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* gap
----------------------- */
.gap-3 {
  gap: 30px;
}

.gap-2 {
  gap: 20px;
}

/* ===============================================
text
=============================================== */
/* text-align
----------------------- */
.u-left {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-pccenter {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .u-pccenter {
    text-align: left;
  }
}

/*text-bold
----------------------- */
.u-text-bold {
  font-weight: bold !important;
}

/* text-small
----------------------- */
.u-text-small {
  font-size: 0.85em;
}

/* text-slash
----------------------- */
.u-slash {
  position: relative;
  display: inline-block;
  padding: 0 45px;
}
.u-slash:before, .u-slash:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 44px;
  height: 2px;
  background-color: #afafaf;
  transform: rotate(-60deg);
}
.u-slash:before {
  left: 0;
}
.u-slash:after {
  right: 0;
}

/* ===============================================
margin
=============================================== */
/* margin bottom
----------------------- */
.mb-120 {
  margin-bottom: 120px !important;
}

.mb-7 {
  margin-bottom: 70px !important;
}

.mb-6 {
  margin-bottom: 60px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mg-auto {
  margin: 0 auto;
}

/* margin Top
----------------------- */
.mt-120 {
  margin-top: 120px !important;
}

.mt-7 {
  margin-top: 70px !important;
}

.mt-6 {
  margin-top: 60px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

/* ===============================================
Layout  width-setting
=============================================== */
.l-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}
.l-inner--xxs {
  max-width: 600px;
}
.l-inner--xs {
  max-width: 780px;
}
.l-inner--sm {
  max-width: 1060px;
}
.l-inner--xl {
  max-width: 1300px;
}

.l-section {
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .l-section {
    padding: 40px 0;
  }
}
.l-section--even {
  padding: 140px 0;
}
.l-section--big {
  padding: 70px 0;
}

/* ===============================================
 header
 =============================================== */
.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 1rem 1.5rem;
  }
}

/* header subpage
----------------------- */
.header-sub {
  background-color: white;
}

/* .header ＋.scroll-nav
----------------------- */
.header.scroll-nav {
  z-index: 200;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header.scroll-nav .title {
  color: #193660;
}
.header.scroll-nav .nav__item {
  color: #193660;
}

/* .header order when it is SP
----------------------- */
@media screen and (min-width: 768px) {
  .header__middle {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  _::-webkit-full-page-media, _:future, :root .header__middle {
    margin-left: 0;
  }
}

.header__end {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .header__end {
    padding-right: 4rem;
  }
}
.header__enda:last-child {
  padding-right: 5rem;
}

/* ===============================================
Footer
=============================================== */
.footer {
  padding: 40px 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer-menu {
    padding: 0 30px;
  }
}
.footer-menu ul {
  gap: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-menu li {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.25;
}
@media screen and (max-width: 768px) {
  .footer-menu li {
    font-size: 1.2rem;
  }
}
.footer-name {
  font-weight: 10px;
  color: #888;
}

/* animation
----------------------- */
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes slideInDown {
  0% {
    visibility: visible;
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideInUp {
  0% {
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -100%);
    opacity: 0;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
/* btn
----------------------- */
.button {
  position: relative;
  z-index: 1;
  padding: 1rem;
  width: 144px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #ffa1ae;
  box-shadow: 0px 12px 24px rgba(51, 51, 51, 0.1);
  border-radius: 100vh;
  overflow: hidden;
}
.button__small {
  color: #193660;
  width: 120px;
}
@media screen and (max-width: 375px) {
  .button__small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
}
.button__middle--secondary {
  background-color: #193660;
}
.button__big {
  max-width: 240px;
  width: 100%;
  font-weight: 700;
  font-size: clamp(1.25rem, 1.1464088398rem + 0.4419889503vw, 1.5rem);
  background-color: #ffa1ae;
  color: white;
}
.button__big--design::after, .button__big--illustrations::after {
  position: absolute;
  content: "";
  font-weight: 400;
  font-family: "Material Icons Sharp";
  line-height: 1;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  color: white;
}
.button__big--design::after {
  content: "\e3ae";
}
.button__big--illustrations::after {
  content: "\e40a";
}

.button a {
  display: block;
}
.button span {
  z-index: 1;
  position: relative;
}
.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 144px;
  height: 144px;
  border-radius: 100vh;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #193660;
  opacity: 0;
}
.button__middle--secondary::before {
  background-color: #ffa1ae;
}
.button__small::before {
  background-color: #193660;
}
.button__big::before {
  background-color: #193660;
  width: 380px;
  height: 380px;
}
.button:hover span {
  color: hsl(221, 100%, 97%);
}
.button:hover::before {
  opacity: 1;
  transition-duration: 0.85s;
  transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1.2);
}

/* button big icon adjustment */
.button__big:hover::after {
  color: white;
  opacity: 0.8;
}

/* button for app
----------------------- */
.button__app {
  margin: 0 auto;
}

/* label-category
----------------------- */
.label-category {
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 100vh;
  text-align: center;
  width: 84px;
  background-color: #e6e4e4;
  font-size: clamp(0.6875rem, 0.6616022099rem + 0.1104972376vw, 0.75rem);
}
@media screen and (max-width: 768px) {
  .label-category {
    padding: 2px 8px;
  }
}

/* List
----------------------- */
.list {
  counter-reset: number; /*数字をリセット*/
  list-style-type: none !important; /*数字を一旦消す*/
  padding: 1em;
  border-radius: 10px;
  background: #f1f8fc;
}
.list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.4em;
  padding: 0.5em 0.5em 0.5em 30px;
}
.list li:before {
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display: inline-block;
  background: #8EAAD1;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  transform: translateY(-50%);
}

/* nav-toggle nav-menu
----------------------- */
.nav__toggle {
  /*ボタン内側の基点となるためrelativeを指定*/
  width: 26px;
  height: 26px;
}
.nav__toggle__area {
  display: block;
  position: relative;
  transition: all 0.6s; /*アニメーションの設定*/
  width: 100%;
  height: 100%;
}
.nav__toggle__icon {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 0px;
  height: 3px;
  border-radius: 2px;
  background: #193660;
  width: 100%;
}
.nav__toggle__icon:nth-child(1) {
  top: 4px;
}
.nav__toggle__icon:nth-child(2) {
  top: 12px;
}
.nav__toggle__icon:nth-child(3) {
  top: 20px;
}

/*when toggle is OPEN*/
.nav__toggle[aria-expanded=true] .nav__toggle__area {
  transform: rotate(360deg);
}
.nav__toggle[aria-expanded=true] .nav__toggle__icon:nth-child(1) {
  top: 6px;
  left: 3px;
  transform: translateY(6px) rotate(-45deg);
  width: 80%;
}
.nav__toggle[aria-expanded=true] .nav__toggle__icon:nth-child(2) {
  opacity: 0;
}
.nav__toggle[aria-expanded=true] .nav__toggle__icon:nth-child(3) {
  top: 18px;
  left: 3px;
  transform: translateY(-6px) rotate(45deg);
  width: 80%;
}

/* nav-toggle nav-menu typography
----------------------- */
.nav__item {
  color: white;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .nav__item {
    color: #193660;
    font-weight: 700;
  }
}
.nav__item:last-of-type {
  padding-right: 15px;
}
.nav__item a {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .nav__item a {
    padding: 2rem;
  }
}
.nav__item--subpage {
  color: #193660;
}
.nav__item__opt {
  display: block;
}
@media screen and (max-width: 768px) {
  .nav__item__opt {
    display: inline-block;
    font-size: 1em;
  }
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  cursor: pointer;
  /*bgwhen nav is OPEN*/
}
.black-bg.js-open {
  opacity: 0.8;
  visibility: visible;
}

.nav__wrapper {
  display: flex;
}
@media screen and (max-width: 768px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    z-index: -1;
    background-color: #ffa1ae;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.nav__toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* nav item design
----------------------- */
@media screen and (max-width: 768px) {
  .nav__item > a {
    display: block;
    text-align: left;
    transition: padding 0.5s ease;
  }
  .nav__item > a:hover {
    padding-left: 40px;
  }
  .nav__item:nth-child(1) {
    background: rgba(255, 255, 255, 0);
  }
  .nav__item:nth-child(2) {
    background: rgba(255, 255, 255, 0.2);
  }
  .nav__item:nth-child(3) {
    background: rgba(255, 255, 255, 0.4);
  }
  .nav__item:nth-child(4) {
    background: rgba(255, 255, 255, 0.6);
  }
  .nav__item:nth-child(5) {
    background: rgba(255, 255, 255, 0.8);
  }
}

/* logo
----------------------- */
.site-title__logo {
  line-height: 1;
}
.site-title__logo svg {
  max-width: 140px;
  width: 100%;
  height: auto;
  fill: white;
}

/* kv
----------------------- */
.kv {
  position: relative;
  height: 100vh;
  /*   background: g.$color-third url(../image/img_bg.svg) repeat top center;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.kv__illustration {
  max-width: 120px;
  animation: rotation 1.5s linear infinite alternate;
}
.kv__scroll {
  position: absolute;
  z-index: 20;
  right: 30px;
  bottom: 30px;
  line-height: 1;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  padding: 10px 10px 90px;
  text-decoration: none;
  text-decoration: none;
  letter-spacing: 0.2em;
  -ms-writing-mode: tb-rl;
  text-transform: uppercase;
  color: #8EAAD1;
  font-size: 12px;
  writing-mode: vertical-lr;
}
@media screen and (max-width: 768px) {
  .kv__scroll {
    padding: 10px 10px 60px;
  }
}
.kv__scroll::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 80px;
  content: "";
  animation: scrollDownLine 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  background: #8EAAD1;
}
@media screen and (max-width: 768px) {
  .kv__scroll::after {
    height: 50px;
  }
}
.kv__subpage {
  height: 70vh;
}
.kv__subpage--tapnow {
  background: url(../image/img_tapnow__0design.jpg) no-repeat top 0px center/cover;
}
.kv__subpage--imacrea {
  background: url(../image/img_imacrea__0design.jpg) no-repeat top 0px center/cover;
}
.kv__subpage--artfinder {
  background: url(../image/img_Artfinder__0design.jpg) no-repeat top 0px center/cover;
}

@keyframes scrollDownLine {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
/* backgraound skew-image
----------------------- */
.bg__color {
  background-color: #FFF8F9;
  position: relative;
  z-index: 1;
}

.bg__skew--bottom, .kv__skew--bottom {
  overflow: hidden;
  position: relative;
}
.bg__skew--bottom::after, .kv__skew--bottom::after {
  bottom: 0px;
  left: 0;
  z-index: 10;
}
.bg__skew--bottom::after, .kv__skew--bottom::after {
  mask: url("../image/img_bg_triangle.svg") no-repeat center/contain;
  -webkit-mask: url("../image/img_bg_triangle.svg") no-repeat center/contain;
  content: "";
  display: block;
  height: 100px;
  position: absolute;
  width: 100%;
}
@-moz-document url-prefix() {
  .bg__skew--bottom::after, .kv__skew--bottom::after {
    mask-size: 100% 100%;
  }
}

.bg__skew--bottom::after {
  background-color: #fff;
}

.kv__skew--bottom::after {
  background-color: #fff;
}

.bg__skew--top {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.bg__skew--top::before {
  right: 0;
  top: 0px;
  z-index: 1;
  transform: rotate(180deg);
}
.bg__skew--top::before {
  background-color: #fff;
  mask: url("../image/img_bg_triangle.svg") no-repeat center/contain;
  -webkit-mask: url("../image/img_bg_triangle.svg") no-repeat center/contain;
  content: "";
  display: block;
  height: 100px;
  position: absolute;
  width: 100%;
}
@-moz-document url-prefix() {
  .bg__skew--top::before {
    mask-size: 100% 100%;
  }
}

/* backgraound small triangle
----------------------- */
.bg__triangle {
  position: relative;
}
.bg__triangle__shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.bg__triangle__shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}
@media screen and (max-width: 768px) {
  .bg__triangle__shape svg {
    height: 40px;
  }
}
.bg__triangle__shape .shape-fill {
  fill: #FFF8F9;
}

/* particle-js  depict
----------------------- */
#particles-js {
  position: absolute;
  z-index: -1; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #193660; /*背景色*/
}

#particles-js__wrapper {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 100; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* portfolio
----------------------- */
.app {
  padding-bottom: 85px;
}
.app__wrapper {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 375px) {
  .app__wrapper {
    flex-direction: column;
  }
}
.app__contents {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .app__contents {
    margin-bottom: 20px;
    /*flex-direction: column-reverse;*/
    align-items: initial;
  }
  .app__contents:last-of-type {
    margin-bottom: 50px;
  }
}
.app__explanation {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.app__text {
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .app__text {
    text-align: center;
  }
}
.app__image {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 375px) {
  .app__image {
    width: 50%;
    max-width: 400px;
    margin-bottom: 15px;
  }
}

/* portfolio
----------------------- */
.portfolio--even {
  background-color: #FFF8F9;
}
.portfolio__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .portfolio__wrapper {
    flex-direction: column-reverse;
    align-items: initial;
  }
}
.portfolio__wrapper--even {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .portfolio__wrapper--even {
    flex-direction: column-reverse;
  }
}
.portfolio__image img {
  -o-object-position: top 0 left 0;
     object-position: top 0 left 0;
  aspect-ratio: 1.414/1;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 11px 26px rgba(0, 0, 0, 0.05);
}

.flex-column {
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .flex-column {
    flex-direction: column-reverse;
  }
}

.flex-50 {
  flex-basis: 50%;
}

.flex-100 {
  flex-basis: 100%;
}

/* image-setting
----------------------- */
.img-50 img {
  -o-object-position: top 0 left 0;
     object-position: top 0 left 0;
  aspect-ratio: 1.414/1;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.img-100 img {
  -o-object-position: top 0 left 0;
     object-position: top 0 left 0;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* for Safari
----------------------- */
@media screen and (max-width: 768px) {
  _::-webkit-full-page-media, _:future, :root .portfolio__wrapper {
    gap: 0px;
  }
}

@media screen and (max-width: 768px) {
  _::-webkit-full-page-media, _:future, :root .portfolio__contents {
    margin-top: 30px;
  }
}

/* Other portfolios
----------------------- */
.others {
  text-align: center;
  background-color: #193660;
}
.others__button {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 375px) {
  .others__button {
    flex-direction: column;
  }
}

/* form
----------------------- */
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

form label,
form legend {
  margin-bottom: 0.5rem;
}

/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 0.75em 1rem;
  border-radius: 10px;
}

form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

form [type=text],
form [type=email],
.StripeElement {
  width: 100%;
}

form [type=button],
form [type=submit],
form [type=reset] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

form [type=button]:focus,
form [type=submit]:focus,
form [type=reset]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

.form__label {
  font-weight: 500;
  line-height: 1.1;
  font-size: clamp(1rem, 0.8964088398rem + 0.4419889503vw, 1.25rem);
}

form textarea {
  min-height: 240px;
  overflow-y: auto;
}

@-moz-document url-prefix() {
  .form__label {
    font-weight: 500;
    line-height: 1.1;
    font-size: clamp(1rem, 0.8964088398rem + 0.4419889503vw, 1.25rem);
  }
  form textarea {
    min-height: 240px;
    overflow-y: auto;
  }
}
/* ##################################################################

Home

##################################################################### */
/* ##################################################################

Subpage (artfinder)

##################################################################### */
@media screen and (max-width: 768px) {
  .image-50-2 {
    flex-direction: column;
  }
}

.prototype {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .prototype {
    flex-direction: column-reverse;
  }
}

/* ##################################################################

Subpage (profile)

##################################################################### */
.profile__image img {
  max-width: 280px;
  border-radius: 100%;
}
.profile__sentence {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .profile__sentence {
    text-align: left;
  }
}
.profile__sentence p:not(:last-child) {
  margin-bottom: 20px;
}
.profile__icon {
  color: #4d4e57;
}

.line {
  background: linear-gradient(transparent 60%, #ff6 60%);
}

.profile table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}
.profile th,
.profile td {
  border: 1px solid #e6e4e4;
  padding: 1.5rem;
  text-align: left;
  vertical-align: middle;
  font-size: clamp(0.875rem, 0.8232044199rem + 0.2209944751vw, 1rem);
}
.profile th {
  background-color: #f5f5f5;
  text-align: center;
}/*# sourceMappingURL=style.css.map */